#content {
}

#name-main {
  // typography
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
  font-size: 600%;
  letter-spacing: 0.06em;

  color: black;

  // positioning
  margin-top: 5vh;
  text-align: center;
}
