#content {
}

a:link {
  color: black;
}

#name-main {
  // typography
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
  font-size: 600%;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: black;


  // positioning
  margin-top: 5vh;
  text-align: center;
}

#description {
  // typography
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
  font-size: 100%;
  letter-spacing: 0.7em;
  text-transform: uppercase;

  color: #CCCCCC;

  // positioning
  margin-top: 3vh;
  margin-bottom: 5vh;
  text-align: center;
  line-height: 1.5em;
}

#navbar {
  justify-content: center;
  width: 100%;
  text-align: center;
  display: flex;

  margin-bottom: 4vh;
}

#navbar a {
  // typography
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
  font-size: 100%;
  letter-spacing: 0.3em;
  text-transform: uppercase;

  color: #666666;

  margin-left: 3%;
  margin-right: 3%;
}

h2 {
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
  font-size: 200%;
  letter-spacing: 0.06em;

  color: black;

  text-align: center;
  margin-top: 3em;
  margin-bottom: 1em;
}

p {
  font-size: 1.2em;
}

.project {
  margin-top: 2em;
}

.project h2 {
  margin-bottom: 0;
}

.project h4 {
  font-weight: 700;
}

.project i {
  font-size: 2em;
}

.project p {
  text-align: justify;
}

#contact {
  text-align: center;
}

#contact h3 {
  font-size: 1.5em;
  text-align: center;
}

#contact i {
  color: black;
}

#contact .social {
  font-size: 2em;
}
